body {
  margin: 0; }

nav {
  background: orange; }

.banner h1 {
  font-size: 40px;
  color: orange;
  text-align: center; }

.footer h3 {
  font-size: 30px;
  color: green;
  text-align: center; }
