body {
  margin: 0; }

nav {
  background: orange; }

.banner h1 {
  font-size: 40px;
  color: green;
  text-align: center; }

.footer h3 {
  font-size: 30px;
  color: green;
  text-align: center;
  transition: color 0.5s ease-in, background-color 0.3s ease-out; }
  .footer h3:hover {
    background-color: royalblue;
    color: orange; }
