$color-primary: orange;
$color-secondary: green;
$color-tertiary: royalblue;

$font-lg: 40px;
$font-md: 30px;
$font-sm: 20px;

body{
    margin:0;
}
nav{
    background: $color-primary;
}

@mixin transition($param...){ 
    transition: $param;
}
@mixin headingStyles($fontSize: 30px){
    font-size: $fontSize;
    color: $color-secondary;
    text-align: center;
}


.banner h1{
    @include headingStyles($font-lg);
}

.footer h3{
    @include headingStyles;
    @include transition(color .5s ease-in, background-color .3s ease-out);
    &:hover{
        background-color: $color-tertiary;
        color: $color-primary; 
    }
}